<!DOCTYPE html>
<html>
    <head>
        <title>UWC Market</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/app.less?3" rel="stylesheet/less">
        <script data-main="js/main" src="js/lib/require.js"></script>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <header class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                     <a class="brand" href="#">UWC Market</a>
                     <nav class="pull-right">
                         <ul class="nav">
                             <li class="active"><a href="#">Categories</a></li>
                             <li><a href="#">Register</a></li>
                             <li><a href="#">Log In</a></li>
                         </ul>
                     </nav>
                </div>
            </div>
        </header>
        <section class="container">
            <section class="row">
                <nav class="span3">
                    <div class="well sidebar-holder">
                        <form class="form-search">
                            <input placeholder="Search" type="text" class="search-query">
                        </form>
                        <ul class="nav nav-list">
                            <li class="nav-header">Categories</li>
                            <li class="active"><a href="#">Apple</a></li>
                            <li><a href="#">Dell</a></li>
                            <li><a href="#">Asus</a></li>
                            <li><a href="#">Acer</a></li>
                            <li><a href="#">Canon</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="block span3"></div>
                <div class="block span3"></div>
                <div class="block span3"></div>
                <div class="block span3"></div>
                <div class="block span3"></div>
                <div class="block span3"></div>
            </section>
        </section>
    </body>
</html>
