<!DOCTYPE html>
<html>
    <head>
        <title>UWC Market</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/app.less?4" rel="stylesheet/less">
        <script data-main="/js/main" src="js/lib/require.js"></script>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <header class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                     <a class="brand" href="#">UWC Market</a>
                     <nav class="pull-right">
                         <ul class="nav">

                             <!-- After login part -->
                             <!-- ==================================== -->

                             <li><span class="username">Alexandr Sabov</span></li>
                             <li class="divider-vertical"></li>
                             <li><a href="#">Log Out</a></li>

                             <!-- ==================================== -->

                             <!-- Before login part -->
                             <!-- ==================================== -->
                             <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Registration
                                    <b class="caret"></b>
                                </a>
                                <div class="dropdown-menu pull-right" style="margin-right:80px">
                                    <form action="" class="form-vertical login-form">
                                        <div class="control-group">
                                            <label class="control-label">Username:</label>
                                            <div class="controls">
                                                <input type="text" name="username" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Password:</label>
                                            <div class="controls">
                                                <input type="password" name="password" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn btn-primary">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                             </li>
                             <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Log In
                                    <b class="caret"></b>
                                </a>
                                <div class="dropdown-menu pull-right">
                                    <form action="" class="form-vertical login-form">
                                        <div class="control-group">
                                            <label class="control-label">Username:</label>
                                            <div class="controls">
                                                <input type="text" name="username" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Password:</label>
                                            <div class="controls">
                                                <input type="password" name="password" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <label class="checkbox">
                                                <input type="checkbox"> Remember me
                                                </label>
                                                <button type="submit" class="btn btn-primary">Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                             </li>
                             <!-- ==================================== -->

                         </ul>
                     </nav>
                </div>
            </div>
        </header>
        <section class="container">
            <section class="row">
                <nav class="span3">
                    <div class="well sidebar-holder">
                        <form class="form-search">
                            <input placeholder="Search" type="text" class="search-query" >
                        </form>

                        <ul class="nav nav-list">

                            <li class="nav-header">Categories</li>

                            <li><a href="#">Phone</a></li>
                            <li><a href="#">TV</a></li>
                            <li class="active"><a href="#">Display</a></li>
                            <li><a href="#">Photo</a></li>
                            <li><a href="#">Laptop</a></li>
                            <li class="divider"></li>

                            <li class="nav-header">Producers</li>

                            <li class="active"><a href="#">Apple</a></li>
                            <li><a href="#">Dell</a></li>
                            <li><a href="#">Asus</a></li>
                            <li><a href="#">Acer</a></li>
                            <li><a href="#">Canon</a></li>
                        </ul>

                    </div>
                </nav>
                <section class="span9">

                    <!-- Content -->
                    <!-- ==================================== -->

                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>

                    <!-- ==================================== -->

                    <div class="pagination">
                        <ul>
                            <li class="disabled"><a href="#">Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </section>
            </section>
        </section>
    </body>
</html>
